{% extends 'base.html' %}
{% block content %}
<h2>Update Album</h2>
<form method="post">
    <label>Album ID (to update):</label><input name="albumid" type="number" required><br>
    <label>New Album Name:</label><input name="albumname"><br>
    <label>New Artist ID:</label><input name="artistid" type="number"><br>
    <label>New Total Time:</label><input name="totaltime" type="number"><br>
    <label>New No of Songs:</label><input name="noofsongs" type="number"><br>
    <label>New Release Year:</label><input name="releaseyear" type="number"><br>
    <input type="submit" value="Update">
</form>
{% endblock %}
