{% extends 'base.html' %}
{% block content %}
<h2>All Albums</h2>
<table border="1">
    <tr>
        <th>Album ID</th><th>Album Name</th><th>Artist ID</th><th>Total Time</th><th>No of Songs</th><th>Release Year</th>
    </tr>
    {% for row in albums %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
