{% extends 'base.html' %}
{% block content %}
<h2>Insert Song</h2>
<form method="post">
    <label>Song ID:</label><input name="songid" type="number" required><br>
    <label>Album ID:</label><input name="albumid" type="number"><br>
    <label>Artist ID:</label><input name="artistid" type="number"><br>
    <label>Song Name:</label><input name="songname"><br>
    <label>Release Year:</label><input name="releaseyear" type="number"><br>
    <input type="submit" value="Insert">
</form>
{% endblock %}
