{% extends 'base.html' %}
{% block content %}
<h2>All Members</h2>
<table border="1">
    <tr>
        <th>Member ID</th>
        <th>Member Name</th>
        <th>Type of Membership</th>
        <th>Email ID</th>
        <th>User ID</th>
    </tr>
    {% for mem in member %}
    <tr>
        <td>{{ mem[0] }}</td>
        <td>{{ mem[1] }}</td>
        <td>{{ mem[2] }}</td>
        <td>{{ mem[3] }}</td>
        <td>{{ mem[4] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
