{% extends 'base.html' %}
{% block content %}
<h2>Insert Artist</h2>
<form method="post">
    <label>Artist ID:</label><input name="artistid" type="number" required><br>
    <label>Artist Name:</label><input name="artistname" required><br>
    <label>Entertainment ID:</label><input name="entertainmentid" type="number" required><br>
    <label>Debut Year:</label><input name="debutyear" type="number" required><br>
    <label>Instagram ID:</label><input name="instaid"><br>
    <label>No of Songs Released:</label><input name="noofsongsreleased" type="number"><br>
    <input type="submit" value="Insert">
</form>
{% endblock %}
