{% extends 'base.html' %}
{% block content %}
<h2>Update Member</h2>
<form method="post">
    <label>Member ID (to update):</label><input name="memberid" type="number" required><br>
    <label>New User ID:</label><input name="userid" type="number"><br>
    <label>New Member Name:</label><input name="membername"><br>
    <label>New Email ID:</label><input name="emailid" type="email"><br>
    <label>New Type of Membership:</label><input name="typeofmembership"><br>
    <input type="submit" value="Update">
</form>
{% endblock %}
