{% extends 'base.html' %}
{% block content %}
<h2>Update Entertainment</h2>
<form method="post">
    <label>Entertainment ID (to update):</label><input name="entertainmentid" type="number" required><br>
    <label>New Entertainment Name:</label><input name="entertainmentname"><br>
    <label>New Started Year:</label><input name="startedyear" type="number"><br>
    <label>New Phone Number:</label><input name="phonenumber" type="number"><br>
    <input type="submit" value="Update">
</form>
{% endblock %}
